<h1>Welcome</h1>
<div class="tiles-grid">
    <div onclick="window.location='/orders'" class="tile-medium effect-hover-slide-down bg-green" data-role="tile" data-size="medium" data-effect="hover-slide-down" data-role-tile="true">
        <div class="slide-front">
        	<span class="mif-cart icon"></span>
        </div>
    	<div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
    		<p class="text-center">
            	Check your orders.
        	</p>
    	</div>
    	<span class="branding-bar">Orders</span>
    	<span class="badge-top bg-orange fg-white"><%= @orders %></span>
    </div>
    <div onclick="window.location='/products'" class="tile-medium effect-hover-slide-down bg-green" data-role="tile" data-size="medium" data-effect="hover-slide-down" data-role-tile="true">
        <div class="slide-front">
	        <span class="mif-barcode icon"></span>
        </div>
    	<div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
    		<p class="text-center">
            	Check your products.
        	</p>
    	</div>
        <span class="branding-bar">Products</span>
    </div>
    <div onclick="window.location='/productions'" class="tile-medium effect-hover-slide-down bg-green" data-role="tile" data-size="medium" data-effect="hover-slide-down" data-role-tile="true"">
        <div class="slide-front">
        	<span class="mif-database icon"></span>
        </div>
    	<div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
    		<p class="text-center">
            	Check periods when products were created.
        	</p>
    	</div>
    	<span class="branding-bar">Productions</span>
    </div>
    <div onclick="window.location='/profits'" class="tile-medium effect-hover-slide-down bg-green" data-role="tile" data-size="medium" data-effect="hover-slide-down" data-role-tile="true">
        <div class="slide-front">
        	<span class="mif-dollars icon"></span>
        </div>
    	<div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
    		<p class="text-center">
            	Check your profits.
        	</p>
    	</div>
    	<span class="branding-bar">Profits</span>
    </div>
    <div onclick="window.location='/expenditures'" class="tile-medium effect-hover-slide-down bg-green" data-role="tile" data-size="medium" data-effect="hover-slide-down" data-role-tile="true">
        <div class="slide-front">
        	<span class="mif-dollar2 icon"></span>
        </div>
    	<div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
    		<p class="text-center">
            	Check your expenses.
        	</p>
    	</div>
    	<span class="branding-bar">Expenditures</span>
    </div>
    <div onclick="window.location='/clients'" class="tile-medium effect-hover-slide-down bg-green" data-role="tile" data-size="medium" data-effect="hover-slide-down" data-role-tile="true">
        <div class="slide-front">
        	<span class="mif-organization icon"></span>
        </div>
    	<div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
    		<p class="text-center">
            	List of clients.
        	</p>
    	</div>
    	<span class="branding-bar">Clients</span>
    </div>
    <div onclick="window.location='/users'" class="tile-medium effect-hover-slide-down bg-green" data-role="tile" data-size="medium" data-effect="hover-slide-down" data-role-tile="true">
        <div class="slide-front">
        	<span class="mif-user icon"></span>
        </div>
    	<div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
    		<p class="text-center">
            	Check users registered for this app.
        	</p>
    	</div>
    	<span class="branding-bar">Users</span>
    </a>
</div>